{% extends "@Testwebreathe/Testwebreathe/LayoutAdmin.html.twig" %}

{% block title %}Tableau de bord{% endblock title %}
{% block tableaudebord %}current_page_item{% endblock tableaudebord %}
{% block body %}
    <section class="content_section page_title">
        <div class="content clearfix">
            <h1 class="">Tableau de bord</h1>
            <div class="breadcrumbs">
            </div>
        </div>
    </section>
{% endblock body %}

